<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/produtos" method="post">
        <div>
            <label for="titulo"></label>
            <input type="text" id="titulo" name="titulo" placeholder="Titulo">
        </div>
        <div>
            <label for="preco"></label>
            <input type="text" id="preco" name="preco" placeholder="Preco">
        </div>
        <div>
            <label for="descricao"></label>
            <textarea cols="20" id="descricao" name="descricao" placeholder="Descricao"></textarea>
        </div>

        <input type="submit" value="gravar">
    </form>
</body>

</html>